:root {
  --orange: #F7B24A;
  --teal: #005366;
  --mint: #B9F8B6;
  --olive: #93BF47;
  --yellow: #D4D85D;
  --pink: #F9AFAB;
  
  --primary: var(--teal);
  --secondary: var(--orange);
  --accent: var(--mint);
  --text-dark: #2c3e50;
  --text-light: #ffffff;
  --bg-light: #fafafa;
}