:root {
  --orange: #F7B24A;
  --olive: #93BF47;
  --yellow: #D4D85D;
  --pink: #F9AFAB;
  --light-yellow: #fcf498;
  
  --primary: #1a3d2f; 
  --secondary: var(--orange);
  --text-dark: #2c3e50;
  --text-light: #fafafa;
}